<div class="row" th:fragment="content">
    <div class="col-lg-12 text-center" >
        <h1 class="mt-5">A Bootstrap 4 Starter Template</h1>
        <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
        <ul class="list-unstyled">
            <li>Bootstrap 4.3.1</li>
            <li>jQuery 3.4.1</li>
            <li>bla</li>
        </ul>
        <div class="row">
            <div class="col-"></div>

        </div>
        <form th:action="@{/}" method="post">
            <div class="form-row">
                <div class="col-4">&nbsp;</div>
                <div class="col-1">Json</div>
                <div class="col"><textarea id="taskPairs" name="taskPairs" rows="4" cols="50" class="form-control"></textarea></div>
                <div class="col-4">&nbsp;</div>
            </div>
            <div class="form-row">
                <div class="col-4">&nbsp;</div>
                <div class="col-1">&nbsp;</div>
                <div class="col-1"><input type="submit" name="send-task" class="btn btn-primary">send task</input></div>
                <div class="col-4">&nbsp;</div>
            </div>
        </form>
        
        
        
    </div>
</div>

